@model PaginatedList<Flashcard.Models.Words>

@{
    ViewData["Title"] = "WordList";
}

@{
    Words words = new Words();
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<link rel="stylesheet" href="~/css/Words/Index.css" asp-append-version="true" />
<script src="~/js/Words/Index.js" asp-append-version="true"></script>

<div class="content m-auto p-4" style="max-width:1200px">
    <h5 class="my-4">単語一覧</h5>

    <!-- 新規追加 -->
    <form asp-action="Create" class="needs-validation" novalidate>
        @{
            <div class="invalid-feedback mb-3" style="display: block;">
                @TempData["ErrorMsg"]
            </div>
        }
        <div class="row mb-5 g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-3">
                <input type="text" name="Word" class="form-control box-shadow" placeholder="単語" required />
                <div class="invalid-feedback" style="display: block;">
                    <span asp-validation-for="@words.Word"></span>
                </div>
            </div>
            <div class="col-5">
                <input type="text" name="Meaning" class="form-control box-shadow" placeholder="意味" required />
                <div class="invalid-feedback" style="display: block;">
                    <span asp-validation-for="@words.Meaning"></span>
                </div>
            </div>
            <div class="col-2">
                <input type="hidden" name="UserId" value="@TempData["UserId"]" />
                <input type="hidden" name="pageNumber" value="@Model.PageIndex" />
                <button type="submit" class="btnCommon w-100 box-shadow">追加</button>
            </div>
        </div>
    </form>

    <!-- 一覧 -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="w-30 ps-5">
                    単語
                </th>
                <th class="w-40">
                    意味
                </th>
                <th class="w-20"></th>
                <th class="w-10"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <form asp-action="Edit" asp-route-id="@item.WordId" method="post">
                    <td class="ps-5">
                        <span class="word">
                            @Html.DisplayFor(modelItem => item.Word)
                        </span>
                        <span class="wordForm">
                            <input asp-for="@item.Word" class="form-control" name="Word" />
                        </span>
                    </td>
                    <td>
                        <span class="meaning">
                            @Html.DisplayFor(modelItem => item.Meaning)
                        </span>
                        <span class="meaningForm">
                            <input asp-for="@item.Meaning" class="form-control" name="Meaning" />
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="btnUpdate">
                            <input type="hidden" asp-for="@item.WordId" name="WordId" />
                            <input type="hidden" name="UserId" value="@words.UserId" />
                            <input type="hidden" name="pageNumber" value="@Model.PageIndex" />
                            <input type="submit" value="更新" class="btn text-link" />&nbsp;|&nbsp;
                        </span>
                        <a href="#" class="edit">編集</a>
                    </td>
                </form>
                <form asp-action="Delete" asp-route-id="@item.WordId">
                    <td class="text-center">
                        <input type="hidden" name="pageNumber" value="@Model.PageIndex" />
                        <input type="submit" value="削除" class="btn text-link" onclick="return confirm('削除してよろしいですか');" />
                    </td>
                </form>
            </tr>
        }
        </tbody>
    </table>

    <div class="text-end">
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            前へ
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            次へ
        </a>
    </div>
</div>
