@model Flashcard.ViewModels.WordListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                単語
            </th>
            <th>
                意味
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WordList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meaning)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.WordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
