@model Flashcard.ViewModels.HistoriesViewModel

@{
    ViewData["Title"] = "Histories";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="content m-auto p-4" style="max-width:900px">
    <div class="p-3 p-sm-5 border box-shadow">
        @{
            if (@Model.StudyDate != null)
            {
                <h5 class="mb-4 text-center">学習履歴</h5>

                <!-- グラフ -->
                <div class="canvas-container">
                    <canvas id="myChart"></canvas>
                </div>
            }
            else
            {
                <div>学習履歴はありません</div>
            }
        }
    </div>
    <div class="row d-sm-flex mt-45">
        <div class="col-sm-4 col-md-2 order-2 order-md-1 mt-2 mt-sm-0 text-end text-md-start">
            <button type="button" class="btnCommon btnGray box-shadow w-100" onclick="location.href='./'">戻る</button>
        </div>
    @{
        if (@Model.StudyDate != null)
        {
            <div class="col-sm-8 col-md-10 order-1 order-md-2 d-sm-flex justify-content-sm-end">
                <form asp-action="AllDelete">
                        <button type="submit" class="btnCommon btnRed box-shadow me-2 w-100" onclick="return confirm('履歴を全て削除してよろしいですか');">履歴の削除</button>
                </form>
                <div class="mt-2 mt-sm-0">
                    <form asp-action="DownloadFile">
                        <button type="submit" class="btnCommon btnGreen box-shadow w-100">Excel出力</button>
                    </form>
                </div>
            </div>
        }
    }
    </div>
</div>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar', // 棒グラフ
        data: {
            labels: [@Html.Raw(@Model.StudyDate)], // x軸に表示する学習日時
            datasets: [{
                label: '正答数(回)',
                data: [@Html.Raw(@Model.CorrectAnswerCount)], // 学習日時ごとの正答数
                order: 2,
                borderColor: '#a6cee3',
                backgroundColor: '#a6cee3',
                hoverBackgroundColor: '#a6cee3',
                borderWidth: 1,
                yAxisID: 'first-y-axis'
            }, {
                label: '正答率(%)',
                type: "line", // 折れ線グラフ
                data: [@Html.Raw(@Model.CorrectAnswerRate)], // 学習日時ごとの正答率
                order: 1, // 折れ線グラフが前面になるように
                borderColor: '#1f78b4',
                backgroundColor: '#1f78b4',
                yAxisID: 'second-y-axis'
            }]
        },
        options: {
            animation: false, // チャートがすぐに表示されるようにアニメーションをオフにする
            responsive: true, // レスポンシブ
            maintainAspectRatio: false,
            plugins: {
                //legend: { // 凡例（今回は表示にしている）
                //    display: false
                //},
                tooltip: { // ツールチップ非表示
                    enabled: false
                },
            }, // このかっこが足りなかったのが問題だった
            scales: {
                'first-y-axis': { // y軸1つ目
                    type: 'linear', // 線形軸
                    position: 'left', // 軸の位置
                    min: 0, // 最小値
                    //max: 10, // 最大値
                    ticks: { // 目盛線
                        stepSize: 5 // 目盛間隔
                    },
                    title: {
                        display: true,
                        text: "正答数(回)"
                    }
                },
                'second-y-axis': { // y軸2つ目
                    type: 'linear',
                    position: 'right',
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 10
                    },
                    title: {
                        display: true,
                        text: "正答率(%)"
                    },
                    grid: { // グリッド線を片方消す
                        drawOnChartArea: false
                    }
                }
            }
        }
    });

    $(function () {
        var container = $('.canvas-container');
        var ctx = $('#myChart');
        ctx.attr('width', container.width());
        ctx.attr('height', 300);
    });
</script>
